* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  background-color: black;
  font-family: 'Grand Hotel', cursive, serif;
  font-style: italic;
  text-align: center;
  max-width: 1700px;
  margin: 0 auto;
}

nav {
  background-color: black;
}

nav li {
  display: inline-block;
  padding: 30px 15px 30px 15px;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
  font-size: 40px;
}

a:hover {
  color: #cc66ff;
}

.page {
  color: #cc66ff;
}

h2 {
  color: #cc66ff;
  font-size: 60px;
  padding: 30px;
  text-shadow: 3px 3px 3px white;
}

.head img {
  border-radius: 10px;
  height: 300px;
  width: 600px;
}

img {
  width: 90%;
  border-radius: 10px;
}

.container {
 display: flex;
}

.container > div {
 flex: 1; /*grow*/
}

.container a {
  color: #cc66ff;
  font-size: 40px;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
}

.event1 {
  background: url(../images/listings/teal.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.event2 {
  background: url(../images/listings/gold.jpg);
}

.event3 {
  background: url(../images/listings/pink.jpg);
}

.event4 {
  background: url(../images/listings/green.jpg);
}

.event5 {
  background: url(../images/listings/red.jpg);
}

.event6 {
  background: url(../images/listings/silver.jpg);
}

footer {
  background-color: black;
  padding-top: 20px;
}

footer a {
  color: white;
  display: block;
  font-size: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.logo a {
  color: #cc66ff;
  font-size: 40px;
}

.logo a:hover {
  color: white;
}
